.nav_bar{
    width: calc(100vw - 240px);
    height: 50px;
    /* background: #044433; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transition: all 0.3s;
}

.nav_bar.maximize{
    width: calc(100vw - 60px);
}

.nav_bar p{
    /* position: relative; */
    /* left: 20%; */
    margin-left: 25px;
    line-height: 50px;
}

.nav_bar .container_user{
    position: absolute;
    top: -45px;
    right: 10px;
    /* width: 250px; */
    height: auto;
    line-height: 50px;
}