h2{
    position: right;
    font-style: normal;
    top: 10%;
    left:50%;
    color: #f1f1f1;
    font-size: 50px;
    margin: 0;
    color: rgb(27, 7, 74);
    background: #f1f1f1;
    text-align: center;
   
}

.btn{
    text-align: left;
    font-size: 22px;
    padding: 10px ;
    border-radius: 5px;
    background: rgb(0, 115, 255);
    color: #f1f1f1;
    display: inline;
}

form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    /* background: #f9f9f9; */
    /* border-radius: 12px; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
  }
  
  /* input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="date"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 6px rgba(76, 175, 80, 0.4);
  }
  
  button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
  } */
  
  button:hover,
  input[type="submit"]:hover {
    background-color: #4565a0;
  }
  