.container-pagination{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.container-pagination .container-item{
    margin: 0 10px;
}